body, html, * {
  padding: 0;
  margin: 0;
  font-family: 'Bai Jamjuree', 'XMYekanRegular', sans-serif;
  font-size: 24px;
  color: #424242;
  background-color: #f5f5f5;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  background-color: inherit;
  color: inherit;
  border-color: inherit;
}

body.blue {
  background-color: #bcdbdf;
  color: #235784;
  border-color: #235784;
}

body.blue-inv {
  background-color: #182952;
  color: #e14594;
  border-color: #e14594;
}

body.green {
  background-color: #d0efb5;
  color: #155e63;
  border-color: #155e63;
}

body.green-inv {
  background-color: #144d53;
  color: #e4eddb;
  border-color: #e4eddb;
}

body.purple {
  background-color: #ffdfd3;
  color: #957dad;
  border-color: #957dad;
}

body.purple-inv {
  background-color: #77529e;
  color: #dcb5ff;
  border-color: #dcb5ff;
}

body.orange {
  background-color: #f8c43a;
  color: #c93d1b;
  border-color: #c93d1b;
}

body.orange-inv {
  background-color: #7c203a;
  color: #ff9f68;
  border-color: #ff9f68;
}

body.yellow {
  background-color: #f2f2b0;
  color: #5c3c10;
  border-color: #5c3c10;
}

body.yellow-inv {
  background-color: #005874;
  color: #ffbe00;
  border-color: #ffbe00;
}

body.black {
  background-color: #424242;
  color: #f5f5f5;
  border-color: #f5f5f5;
}

section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  transform-origin: bottom center;
  z-index: 0;
  transition: opacity .25s;
}

section#rateedit {
  transform: rotate(90deg);
}

section#hoursedit {
  transform: rotate(180deg);
}

section>div {
  width: 50vw;
  height: 25vw;
}

p {
  margin: 0;
}

.small {
  font-size: 20px;
}

.tiny {
  font-size: 16px;
}

span {
  font-size: inherit;
  color: inherit;
}

div[actions] {
  text-align: right;
}

button {
  font-size: 14px;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  min-width: 128px;
  border: 2px solid;
  outline: none;
  font-weight: bold;
  transition: transform .15s;
}

button:hover {
  transform: scale(1.1);
}

.num {
  font-size: 32px;
}

.small .num {
  font-size: 24px;
}

.tiny .num {
  font-size: 18px;
}

input {
  border: none;
  outline: none;
  font-size: 32px;
  border-bottom: 2px dashed;
  display: inline-block;
  vertical-align: baseline;
  width: 256px;
}

input::placeholder {
  font-size: 24px;
  opacity: 0.25;
  color: inherit;
}

[tostate] { cursor: pointer; }

#holder {
  width: 100vw;
  height: 100vh;
  transition: transform .25s ease-in-out;
  transform-origin: bottom center;
}

#holder[state="main"] section#main {
  z-index: 1;
}

#holder[state="rateedit"] {
  transform: rotate(-90deg);
}

#holder[state="rateedit"] section#rateedit {
  z-index: 1;
}

#holder[state="hoursedit"] {
  transform: rotate(-180deg);
}

#holder[state="hoursedit"] section#hoursedit {
  z-index: 1;
}

#result {
  margin-top: 32px;
  opacity: 0;
  transform: translateY(24px);
  transition: opacity .15s, transform .15s;
}

#result.active {
  opacity: 1;
  transform: translateY(0);
}

#result #working {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity .15s, transform .15s;
}

#result.active #working.active {
  opacity: 1;
  transform: translateY(0);
}

#rate {
  margin-top: 24px;
  cursor: pointer;
}

.currency {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 32px;
  margin-right: 4px;
  font-weight: bold;
}

.tiny .currency {
  width: 12px;
  height: 8px;
}

.currency span {
  font-size: 32px;
  position: absolute;
  top: -8px;
  opacity: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  transform: translateX(32px);
  transition: transform .15s, opacity .15s;
}

.tiny .currency span {
  font-size: 16px;
}

.currency span.passed {
  transform: translateX(-32px);
}

.currency [rial] {
  font-size: 18px;
  margin-top: 8px;
}

.tiny .currency [rial] {
  font-size: 10px;
  margin-top: 4px;
}

body[currency="euro"] .currency [euro] { opacity: 1; transform: translateX(0); }
body[currency="dollar"] .currency [dollar] { opacity: 1; transform: translateX(0); }
body[currency="pound"] .currency [pound] { opacity: 1; transform: translateX(0); }
body[currency="yen"] .currency [yen] { opacity: 1; transform: translateX(0); }
body[currency="rupee"] .currency [rupee] { opacity: 1; transform: translateX(0); }
body[currency="ruble"] .currency [ruble] { opacity: 1; transform: translateX(0); }
body[currency="rial"] .currency [rial] { opacity: 1; transform: translateX(0); }

.rateunit {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 116px;
  height: 24px;
}

.rateunit span {
  position: absolute;
  top: 8px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  opacity: 0;
  transition: transform .15s, opacity .15s;
}

.rateunit [monthly] { transform: translateY(32px); }
.rateunit [hourly] { transform: translateY(-32px); }

body[rateunit="monthly"] .rateunit [monthly] { opacity: 1; transform: translateY(0); }
body[rateunit="hourly"] .rateunit [hourly] { opacity: 1; transform: translateY(0); }

.tiny .rateunit {
  font-size: 16px;
  width: 88px;
}

#rateedit #monthly-hint {
  opacity: 0;
  transform: translateX(32px);
  transition: opacity .15s, transform .15s;
}

body[rateunit="monthly"] #rateedit #monthly-hint {
  opacity: 1;
  transform: translateX(0);
}

[menu] {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  height: 56px;
  text-align: center;
  background: rgba(0, 0, 0, .85);
  cursor: pointer;
}

[is-safari] [menu] {
  background: rgba(0, 0, 0, .15);
  backdrop-filter: blur(20px);
}

[menu] [bar] {
  width: 32px;
  height: 2px;
  background: white;
  position: absolute;
  border-radius: 4px;
  left: calc(50% - 16px);
  transition: transform .15s;
}

[menu] [bar1] { top: 20px; }
[menu] [bar2] { top: 28px; }
[menu] [bar3] { top: 36px; }

[menu-active="on"] [menu] [bar1] { transform: translateY(8px) rotate(45deg); }
[menu-active="on"] [menu] [bar3] { transform: translateY(-8px) rotate(-45deg); }
[menu-active="on"] [menu] [bar2] { transform: translateY(32px); }

@media screen and (max-width: 640px) {
  section {
    opacity: 0;
  }

  #holder[state="main"] section#main {
    opacity: 1;
  }

  #holder[state="rateedit"] section#rateedit {
    opacity: 1;
  }

  #holder[state="hoursedit"] section#hoursedit {
    opacity: 1;
  }

  section>div {
    width: 90vw;
    height: auto;
  }

  input {
    width: 156px;
  }

  input::placeholder {
    font-size: 14px;
  }
}
